body {
    width: 800px;
    margin 0 auto;
}

.header {
    overflow: hidden;
    border-bottom: 2px solid black;
}

.header h1 {
    float: left;
}

.webpage {
    float: right;
}

.web_01 {
    float: left;
    margin: 0 5px;
    padding: 10px;
}

.container {
    overflow: hidden;
    margin-top: 20px;
}

.main {
    float : left;
    width: 600px;
    height: 200px;
    padding: 16px;
    border: 1px solid black;
    box-sizing : border-box;
}

.side {
    float: right;
    width: 150px;
    height: 250px;
    margin: 0 4px;
    padding: 16px;
    border: 1px solid black;
    box-sizing : border-box;
}

.footer {
    margin-top: 16px;
    padding: 16;
    text-align: center;
    border-top: 1px solid black;
}